/* common */
body {
    margin: 0;
}

img {
    vertical-align: bottom;
}

h1,
h2,
h3,
p,
textarea,
detailsm
{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h3 {
    text-indent: -1em;
    margin-left: 1em;
}
h3:before {
    content: '';
    display: inline-block;
    width: .5em;
    height: .5em;
    margin-right: .5em;
    background: #C33741;
    transform: rotate(45deg);
    vertical-align: 2px;
}

.container {
    /* background-color: #683D80; */
    width: 1150px;
    margin: 0 auto;
}

/* header */
header {
    background: #efefef;
}

header .container {
    padding: 32px 0;
    display: flex;
    align-items: center;
}

header .container div + div {
    margin-left: 32px;
}

header h1 {
    font-size: 24px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li + li {
    margin-left: 8px;
}

header .icon {
    border-radius: 50%;
}

/* main */

main {
    /* background-color: #683D80;     */
    /* width: 1000px; */
    margin: 0 auto;
}

main ul {
    list-style: none;
    text-align: left;
}

main a {
    text-decoration: none;
}

main h1 {
    line-height: 2;
    font-size: 24px;
    text-align: left;
}

main h2 {
    line-height: 2;
    font-size: 20px;
    text-align: left;
    text-indent: 1em;
    border-left: 5px solid #EEE0E1;
    padding-left: .5em;
    padding-top: .5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

main h3 {
    line-height: 2;
    font-size: 18px;
    text-align: left;
}

main p,
main detailsm
 {
    line-height: 1.8;
    margin-top: 5px;
    text-align: left;
    text-indent: 2em;
}

main a {
    line-height: 1;
    margin: 0;
    text-align: left;
    text-indent: 2em;
}

main pre {
    line-height: 1;
    margin-top: 5px;
    text-align: left;
    text-indent: 2em;
    outline: 2px solid #dcdcdc;
    border-radius: 5px;
    padding: 1px 10px;
}

main #gallery img {
    outline: 2px solid #dcdcdc;
    border-radius: 5px;
    height: 300px;
    margin-top: 5px;
    align-items: left;
}

main #apl img {
    outline: 2px solid #dcdcdc;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    align-items: left;
}

/* footer */

footer {
    padding: 60px 0;
    text-align: center;
}

/* side */

.side {
    /* background-color: #ff838b; */
    width: 150px;
    text-align: center;
}

.content {
    /* background-color: #b3d874; */
    width: 1000px;
    text-align: center;
    margin-left: 1px;
}

article {
    /* outline: 2px solid red; */
    margin: 0 auto;
    width: 1150px;
    display: flex;
}

/* animation */

.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .3s, transform .3s;
}

/* colorCode */

#colorCode > .button {
    border: solid 1px #333;
    border-radius: 3px;
    text-align: center;
    text-indent: 0;
}

#colorCode > .button + .button {
    margin-top: 5px;
}
