/*IPAexゴシック(Ver.004.01)*/
@font-face {
    font-family: ipaexg;
    src: url('../font/ipaexg.ttf');
}

/*IPAex明朝(Ver.004.01)*/
@font-face {
    font-family: ipaexm;
    src: url('../font/ipaexm.ttf');
}

/* common */

body {
    margin: 0;
    /* font-family: Verdana, sans-serif;
    font-size: 12px; */
    overflow-x: hidden;
    word-break: break-all;
}

/* header */

header {
    display: flex;
    background: #efefef;
    margin: 5px 5px;
    padding: 1px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

header #headerIcon {
    position:relative;
}

header #headerIconTorii {
    border-radius: 50%;
    margin-top: 2px;
}

header #headerIconYoutube {
    position:absolute;
    top: 20px;
    left: 7px;
    width:10px;
}

.sp-menu {
    margin-right: auto;
    cursor: pointer;
}

.sp-menu #open {
    margin-top: 20px;
}

.sp-menu #open.hidden {
    display: none;
}

/* main */

main {
    margin: 5px 5px;
    padding: 1px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

/* スクロール禁止 */
.overflow-hidden {
    overflow: hidden;
}

main h1 {
    text-indent: 1em;
    border-left: 5px solid #b82d37;
    font-size: inherit;
}

main h2 {
    text-indent: 1em;
    border-left: 5px solid #ddcf10;
    font-size: inherit;
    margin-top: 50px;
    margin-left: 5px;
}

main h3 {
    text-indent: 1em;
    border-left: 5px solid #4edb0c;
    font-size: inherit;
    margin-left: 10px;
}

main h4 {
    text-indent: 1em;
    border-left: 5px solid #0adddd;
    font-size: inherit;
    margin-left: 15px;
}

main h5 {
    text-indent: 1em;
    border-left: 5px solid #4007df;
    font-size: inherit;
    margin-left: 20px;
}

main h6 {
    text-indent: 1em;
    border-left: 5px solid #e40ed2;
    font-size: inherit;
    margin-left: 25px;
}

main code {
    padding: 0.2em 0.3em;/* 内側の余白 */
    margin: 0 0.2em;/* 外側の余白 */
    border-radius: 5px;/* 角の丸み */
    background: #f1f2f3;/* 背景色 */
    color: #404040;/* 文字色 */
}

main pre {
    padding: 1em;/* 内側の余白 */
    margin: 0 0 1.5em;/* 外側の余白 */
    border: solid 1px #eaedf2;/* 枠線 */
    background: #f3f6fc;/* 背景色 */
    color: #54687c;/* 文字色 */
    overflow-x: scroll;
}

main img.vertical {
    width: 100px;
}

main img.beside {
    width: 300px;
}

main img.apl {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    border-radius: 10%;
}

main input[type="text"] {
    width:300px;
}

main video {
    width:350px;
}

main button {
    cursor: pointer;
}

/* mask */

#mask.hidden {
    display:none;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* menu */

/* #menu.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate(-500px, 0);
} */

#menu.hidden {
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    background: rgba(255, 255, 255, .95);
    transition: transform .2s;
    z-index: 2;
    overflow: scroll;
}

#menu #close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    cursor: pointer;
    border: solid 1px #333;
    margin: 5px 5px 5px 20px;
    padding: 5px;
    box-shadow: 0 0 3px rgb(26, 19, 19);
}
#menu .menuHeader {
    text-indent: 1em;
    border-left: 5px solid #dd1010;
    margin-left: 5px;
    font-weight: bold;
}

/* application */
#mvBox, figcaption {
    font-size: 12px;
}

main .applicationBox {
    display: flex;
    flex-wrap:wrap;
    border: 1px solid #999;
    justify-content: space-around;
    margin-bottom: 20px;
}

main .applicationBox > figure {
    margin: 10px;
    text-align: center;
}

#youtubeParts main input[type="text"]#pYoutubeId {
    width: 100px;
}

#youtubeParts main input[type="text"]#pTitle {
    width: 300px;
}

#youtubeParts main .mv {
    display: flex;
    cursor: pointer;
    border: solid 1px #333;
    margin: 2px;
    padding: 5px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

#youtubeParts main img {
    height: 30px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

#youtubeParts main .text {
    margin-top: 5px;
    margin-left: 5px;
}

#youtubeParts main .del {
    margin: auto 0 auto auto;
}

/* WebStorage */
#localStorageParts main .box {
    display: flex;
    cursor: pointer;
    border: solid 1px #333;
    margin: 2px;
    padding: 5px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

#localStorageParts main .del {
    margin: auto 0 auto auto;
}

/* operationMenu */

#operationMenuShow {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: 15px;
    font-size: 32px;
    cursor: pointer;
    opacity: 1;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

#operationMenuShow.hidden {
    opacity: 0;
    pointer-events: none;
}

#operationMenuMask.hidden {
    display:none;
}

#operationMenuMask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#operationMenu {
    font-size: 10px;
    margin: 0 20px;
    position: fixed;
    bottom: 32px;
    opacity: 1;
    transition: opacity .5s;
    width: calc(100% - 62px);
    border: solid 1px #333;
    padding: 10px 10px;
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    transition: transform .2s;
    z-index: 2;
}

#operationMenu.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(1000px);
}

#pageSlide {
    width: calc(100% - 100px);
    cursor: pointer;
    margin-top: 10px;
}

#fontSelect {
    font-size: inherit;
}

#sizeSelect {
    font-size: inherit;
}

#pageTop, #pageBottom {
    margin: 0;
    cursor: pointer;
    border: solid 1px #333;
    padding: 2px 5px;
    border-radius: 50%;
    text-decoration: none;
}

/* footer */

footer {
    margin: 5px 5px;
    padding: 30px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

/* Log */
#log.hidden {
    display: none;
}
