.headerSample {
    display: flex;
}

.logoSample {
    margin: 0;
    padding: 0;
    line-height: 64px;
    text-indent: 1em;
    border-left: 5px solid #b82d37;
    font-size: 14px;
}

.sp-menuSample {
    margin-left: auto;
    cursor: pointer;
}

.sp-menuSample #openSample {
    margin-top: 16px;
}

.sp-menuSample #openSample.hide {
    display: none;
}

.mainSample {
    padding: 0 16px;
}

.overlaySample {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, .95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
}

.overlaySample.show {
    opacity: 1;
    pointer-events: auto;
}

.overlaySample #closeSample {
    position: absolute;
    top: 64px;
    right: 64px;
    cursor: pointer;
}

.overlaySample ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overlaySample li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
}

.overlaySample.show li {
    opacity: 1;
    transform: none;
}

.overlaySample.show li:nth-child(1) {
    transition-delay: .1s;
}

.overlaySample.show li:nth-child(2) {
    transition-delay: .2s;
}

.overlaySample.show li:nth-child(3) {
    transition-delay: .3s;
}
